pickup {
    pointer-events: none; // pass events to map
    #locator {
        background-image: url('../../assets/img/person.png');
        position: absolute;
        left: 50%;
        top: 50%;
        height: 50px;
        margin-left: -25px;
        margin-top: -50px; // Btm of image is location on map
    }
}