<!--
  Generated template for the BookingdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="ionic">
        <ion-title>Booking Details</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>



    <ion-list *ngFor="let item of items ">

        <form [formGroup]="myForm">
            <ion-item>
                <ion-label color="primary">Pickup address:</ion-label>
                <ion-input disabled="true" formControlName="Pickup" [class.invalid]="!myForm.get('Pickup').valid && (myForm.get('Pickup').dirty || submitAttempt)" placeholder="Text Input" value="{{ item.Pickup }}"></ion-input>
            </ion-item>
            <div class="error" *ngIf="!myForm.get('Pickup').valid && myForm.get('Pickup').touched">
                <p>Please enter a valid pickup address.</p>
            </div>

            <ion-item>
                <ion-label color="primary" text-wrap>Destination Address:</ion-label>
                <ion-input disabled="true" formControlName="Destination" value="{{ item.Destination }}" placeholder="Destination Address" [class.invalid]="!myForm.get('Destination').valid  && (myForm.get('Destination').dirty || submitAttempt)"></ion-input>
            </ion-item>
            <div class="error" *ngIf="!myForm.get('Destination').valid && myForm.get('Destination').touched">
                <p>Please enter a valid destination address</p>
            </div>

            <ion-item>
                <ion-label color="primary" text-wrap>Assistance:</ion-label>
                <ion-input disabled="true" formControlName="Assistance" value="{{ item.Assistance }}" [class.invalid]="!myForm.get('Assistance').valid  && (myForm.get('Assistance').dirty || submitAttempt)"></ion-input>
            </ion-item>


            <ion-item>
                <ion-label color="primary" text-wrap>Start Time:</ion-label>
                <ion-input disabled="true" formControlName="startTime" value="{{ item.startTime }}" [class.invalid]="!myForm.get('startTime').valid  && (myForm.get('startTime').dirty || submitAttempt)"></ion-input>
            </ion-item>
            <div class="error" *ngIf="!myForm.get('startTime').valid && myForm.get('startTime').touched">
                <p>Please enter a valid start time.</p>
            </div>

            <ion-item>
                <ion-label color="primary" text-wrap>End Time:</ion-label>
                <ion-input disabled="true" formControlName="endTime" value="{{ item.endTime }}" [class.invalid]="!myForm.get('endTime').valid  && (myForm.get('endTime').dirty || submitAttempt)"></ion-input>
            </ion-item>
            <div class="error" *ngIf="!myForm.get('endTime').valid && myForm.get('endTime').touched">
                <p>Please enter a valid end time.</p>
            </div>

            <ion-item *ngIf="item.PatientName">
                <ion-label color="primary">Client 1's Name:</ion-label>
                <ion-input disabled="true" formControlName="patientName" value="{{ item.PatientName }}" [class.invalid]="!myForm.get('patientName').valid  && (myForm.get('patientName').dirty || submitAttempt)"></ion-input>
            </ion-item>
            <div class="error" *ngIf="!myForm.get('patientName').valid && myForm.get('patientName').touched">
                <p>Please enter a valid patient name.</p>
            </div>

            <ion-item *ngIf="item.Patient2Name">
                <ion-label color="primary">Client 2's Name:</ion-label>
                <ion-input disabled="true" formControlName="patient2Name" value="{{ item.Patient2Name }}" [class.invalid]="!myForm.get('patient2Name').valid  && (myForm.get('patient2Name').dirty || submitAttempt)"></ion-input>
            </ion-item>
            <div class="error" *ngIf="!myForm.get('patient2Name').valid && myForm.get('patient2Name').touched">
                <p>Please enter a valid patient name.</p>
            </div>

            <ion-item *ngIf="item.Patient3Name">
                <ion-label color="primary">Client 3's Name:</ion-label>
                <ion-input disabled="true" formControlName="patient3Name" value="{{ item.Patient3Name }}" [class.invalid]="!myForm.get('patient3Name').valid  && (myForm.get('patient3Name').dirty || submitAttempt)"></ion-input>
            </ion-item>
            <div class="error" *ngIf="!myForm.get('patient3Name').valid && myForm.get('patient3Name').touched">
                <p>Please enter a valid patient name.</p>
            </div>

            <ion-item>
                <ion-label color="primary" text-wrap>Contact No:</ion-label>
                <ion-input disabled="true" formControlName="Contact" value="{{ item.Contact }}" [class.invalid]="!myForm.get('Contact').valid  && (myForm.get('Contact').dirty || submitAttempt)"></ion-input>
            </ion-item>
            <div class="error" *ngIf="!myForm.get('Contact').valid && myForm.get('Contact').touched">
                <p>Please enter a valid phone number of 8 characters.</p>
            </div>

            <ion-item>
                <ion-label color="primary" text-wrap>Secondary Contact No:</ion-label>
                <ion-input disabled="true" formControlName="SecContact" value="{{ item.SecondaryContact }}" [class.invalid]="!myForm.get('SecContact').valid  && (myForm.get('SecContact').dirty || submitAttempt)"></ion-input>
            </ion-item>
            <div class="error" *ngIf="!myForm.get('SecContact').valid && myForm.get('SecContact').touched">
                <p>Please enter a valid phone number of 8 characters.</p>
            </div>

            <ion-item>
                <ion-label color="primary" text-wrap>Escort's Gender:</ion-label>
                <ion-input disabled="true" formControlName="EscortsGender" value="{{ item.EscortsGender }}" [class.invalid]="!myForm.get('EscortsGender').valid  && (myForm.get('EscortsGender').dirty || submitAttempt)"></ion-input>
            </ion-item>
            <div class="error" *ngIf="!myForm.get('EscortsGender').valid && myForm.get('EscortsGender').touched">
                <p>Please enter a valid Escort Gender.</p>
            </div>

        </form>

        <br>
        <ion-row>
            <!-- <ion-col col-6> -->
            <!-- <button ion-button [disabled]="!isenabled"  (click)="saveItem(item)">Update</button> -->

            <!-- <button ion-button block color="ionic" *ngIf="item.Status === 'Pending'" [disabled]="!isenabled" (click)="Update()">Update Booking</button> -->

            <!-- </ion-col>
             <ion-col col-6> -->
            <button ion-button color="danger" block *ngIf="item.Status === 'Accepted' || item.Status === 'Pending'" (click)="Cancel()">Cancel Booking</button>
            <!-- </ion-col> -->
        </ion-row>
    </ion-list>
</ion-content>