<ion-card>
    <ion-card-header (click)="toggleAccordion()">
        Hi there
    </ion-card-header>
    <ion-card-content #cc>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis accusamus nam tempora, minus assumenda voluptatibus, veniam hic reprehenderit adipisci a autem officia! Ullam, error. Voluptatum, delectus minus tempore ullam molestias. Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Officiis accusamus nam tempora, minus assumenda voluptatibus, veniam hic reprehenderit adipisci a autem officia! Ullam, error. Voluptatum, delectus minus tempore ullam molestias. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Officiis accusamus nam tempora, minus assumenda voluptatibus, veniam hic reprehenderit adipisci a autem officia! Ullam, error. Voluptatum, delectus minus tempore ullam molestias. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Officiis accusamus nam tempora, minus assumenda voluptatibus, veniam hic reprehenderit adipisci a autem officia! Ullam, error. Voluptatum, delectus minus tempore ullam molestias. Lorem ipsum dolor sit amet, consectetur adipisicing

    </ion-card-content>
</ion-card>